// TEXT
$primary-text: #2c2b29;
$secondary-text: #403730;
$tertiary-text: #f9f9f9;
$btn-text: #f9f9f9;
$accent: #f6973f;
$form-text: #aeaeae;
$logo: #463530;
$number: rgba(201, 193, 173, 0.4);

// BACKGROUND
$bg-body: #ebebeb;
$bg-primary: #899678;
$bg-element: #f6973f;
$bg-btn: #f6973f;
$bg-pagination: #f2f3f5;
$bg-light-gray: #e7e7e7;
$bg-dark-gray: #5b5b5b;
$bg-slide-card: #d9d9d9;
$bg-overlay: rgba(61, 61, 61, 0.8);

// ELEMENTS
$vector-line: #5a5a5a33;
$form-line: #aeaeae;
$form-checkout: #aeaeae;
$icons-social: #403730;
$phone: #403730;
$lng-arrow: #aeaeae;
$burger-menu: #403730;
$checkmark: #2c2b29;
$btn-close: #403730;
$icons-social-bm: #5b5b5b;
$arrow-catalog: #525252;
$search-icon: #403730;
$border-search: #403730;
$arrow-back: #f9f9f9;
